<html>
<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <style>
      
    
    </style>
</head>
<body>
  <div class="auth-outer-center">
    <img src="{{ url_for('static', filename='images/spoon.svg') }}" alt="Logo" class="auth-logo">
    <div class="auth-flex">
      <div class="auth-left">
        {% if error %}
           <p style="color:red; font-size:1.15rem; margin-bottom:1rem; width:420px;">{{ error }}</p>
        {% endif %}
        <form action="/auth/login" method="POST">
          <label for="name">Username:</label>
          <input type="text" id="name" name="name" required>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <button type="submit">Quick Login</button>
        </form>
      </div>
      <div class="auth-divider"></div>
      <div class="auth-right">
        <div>
          <p>Don't have an account?</p>
          <form action="/auth/register" method="GET">
            <button type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>