<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Spoonacular Meal Planner</title>
</head>

<body>
  <h1>Generate Meal Plan with Spoonacular</h1>

  {% if error %}
  <p style="color:red">{{ error }}</p>
  {% endif %}

  <form method="POST" action="{{ url_for('spoonacular_builtin_mealplanner') }}">
    <label for="timeFrame">Plan for:</label>
    <select name="timeFrame" id="timeFrame">
      <option value="day">1 Day</option>
      <option value="week">1 Week</option>
    </select><br><br>

    <label for="diet">Which diet are you</label>
    <label for="diet">Plan for:</label>
    <select name="diet" id="timeFrame">
      <option value="gain">Gain weight</option>
      <option value="loose">Loose weight</option>
      <option value="healthy">Stay healthy</option>
    </select><br><br>

    <button type="submit">Generate Plan</button>
  </form>
</body>

</html>