<table border="1">
    <tr>
        <th>Day</th>
        {% for meal in mealplan[1].keys() %}
            <th>{{ meal.title() }}</th>
        {% endfor %}
    </tr>
    {% for day, meals in mealplan.items() %}
    <tr>
        <td>{{ day }}</td>
        {% for meal, recipe in meals.items() %}
            <td>
                {{ recipe.title }}
                <form method="POST" action="{}">
                    <input type="hidden" name="day" value="{{ day }}">
                    <input type="hidden" name="meal" value="{{ meal }}">
                    <button type="submit">Replace</button>
                </form>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>